.card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);
    
    cursor: pointer;
    background: #f09819;
    background: -webkit-linear-gradient(210deg, #f09819 0%, #9e1e1e 50%, #edde5d 100%);
    background: linear-gradient(210deg, #f09819 0%, #9e1e1e 50%, #edde5d 100%);
    opacity: 1;
    transition: opacity 1s ease 0s;
   }
.card:hover{
    opacity: 0.6;
    scale: 1.1;

}

   
   